<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.lyl.dao.SensorLogMapper">
	<insert id="addSensorLog" parameterType="SensorLog">
		insert into sensor_log(date,epoch,moteId,temperature,humidity,light,voltage)
		value(#{date},#{epoch},#{moteId},#{temperature},#{humidity},#{light},#{voltage})
	</insert>
</mapper>	